* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  padding: 40px 20px;
  min-width: 320px;
  color: #3a3939;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.siedebar {
  background: #91b9d8;
  max-width: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.siedebar__photo {
  width: 400px;
  max-width: 100%;
}

.siedebar__info {
  padding: 60px 30px;
}

.siedebar__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 110%;
  color: #fff;
  text-align: center;
  background-color: #30596b;
  padding: 10px;
  max-width: 220px;
  margin: 0 auto;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
  transition: all 0.3s ease-in;
}

.siedebar__title:hover {
  background-color: #fff;
  color: #30596b;
}

.siedebar__contact {
  margin-bottom: 50px;
}

.siedebar__tech {
  margin-bottom: 50px;
}

.siedebar__skills {
  margin-bottom: 50px;
}

.siedebar__container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.contact__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 170%;
  color: #3a3939;
  text-decoration: none;
  display: flex;
  transition: all 0.3s ease-in;
}

.contact__link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.main__contact-siedebar {
  display: none;
}

.item {
  font-size: 14px;
  font-weight: 700;
  line-height: 170%;
  color: #3a3939;
  background-image: url("./images/icon-done.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 25px;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
}

.main {
  padding: 90px 110px;
}

.main__contact {
  margin-bottom: 60px;
}

.main__profession {
  font-size: 16px;
  font-weight: 900;
  line-height: 170%;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main__name {
  font-size: 45px;
  font-weight: 700;
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
}

.main__about {
  margin-bottom: 60px;
}

.main__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

.educacion__item {
  list-style-type: disclosure-closed;
  margin-left: 20px;
}

.educacion__item:not(:last-child) {
  margin-bottom: 40px;
}

.educacion__university {
  color: #30596b;
  font-size: 16px;
  font-weight: 900;
  line-height: 140%;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}

.educacion__year {
  display: block;
  margin-bottom: 6px;
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-left: -20px;
}

.educacion__faculty {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-left: -20px;
}

.main__educacion {
  margin-bottom: 60px;
}

.main__experience {
  margin-bottom: 60px;
}

.experience__item {
  list-style-type: disclosure-closed;
  margin-left: 20px;
}

.experience__item:not(:last-child) {
  margin-bottom: 40px;
}

.experience__work {
  color: #30596b;
  font-size: 16px;
  font-weight: 900;
  line-height: 140%;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}

.experience__year {
  display: block;
  margin-bottom: 6px;
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-left: -20px;
}

.experience__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-left: -20px;
}

.main__title-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.main__title-img {
  width: 46px;
  margin-right: 16px;
}

.main__skills-container {
  display: flex;
  flex-wrap: wrap;
}

.main__skills-img {
  width: 50%;
  padding: 5px;
}

.languages__item {
  list-style-type: disclosure-closed;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1160px) {
  .main {
    padding: 35px 50px;
  }
  .main__name {
    line-height: 120%;
  }
  .main__skills-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .contact__link {
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .siedebar {
    max-width: 100%;
    background-color: #fff;
    padding-bottom: 0;
  }
  .main__contact {
    display: none;
  }
  .siedebar__photo {
    display: flex;
    margin: 0 auto;
  }
  .main__contact-siedebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .siedebar__info {
    padding: 30px 30px 0 30px;
  }
  .main__profession {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .main {
    padding: 0px 30px 30px;
  }
  .siedebar__title {
    margin: 0 0 20px 0;
    font-size: 20px;
    max-width: 180px;
  }
  .siedebar__title:hover {
    border: 2px solid #30596b;
  }
  .siedebar__contact,
  .siedebar__tech,
  .siedebar__skills,
  .siedebar__hobbies {
    margin-bottom: 25px;
  }
  .main__name {
    font-size: 37px;
    letter-spacing: 1px;
  }
  .main__about,
  .main__experience,
  .main__educacion {
    margin-bottom: 30px;
  }
}

@media (max-width: 520px) {
  .siedebar__photo {
    padding: 10px;
  }
  .siedebar {
    padding-top: 10px;
  }
  .main__name {
    font-size: 30px;
  }
  .main__title-img {
    width: 40px;
  }
  .main__title {
    font-size: 19px;
  }
  .main__title-container {
    margin-bottom: 10px;
  }
  .educacion__item:not(:last-child) {
    margin-bottom: 22px;
  }
}
